// color
$char-color: #fff;
$char-hover-color: #999;
$main-color: #000;  // main theme color
$main-hover-color: #444;
$unimportant-char-color: #aaa;
$unimportant-char-color-hover: #eee;

$char-color-dark: #000;

$opacity-white-bg-color: rgba(255, 255, 255, 0.7);

$page-background-color: #{$main-color};
$info-nav-hover-color: #{$char-hover-color};

// header
$blue: #03a9f4;           // header
$dark-blue: #0c82df;      // header hover

$header-color: #{$main-color};           // header
$header-hover-color: #{$main-hover-color};      // header hover

// sideNav
$side-nav-color: #{$header-color};  // default sideNav bg
$side-nav-border-color: #666;
$side-nav-font-weight: normal;

$grey: #e8ebf1;           // body bg
$bg-grey: #fafcff;        // module-header bg
$input-grey: #f2f4f7;     // module-header bg
$text-grey: #707780;
$border-grey: #d7dce5;
$border-black: #7a8ba9;

$black: #333;             // font color
$red: #fa0101;

// size
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

$common-padding: 15px;
$common-margin: 15px;

$section-padding-top: 30px;

// height
$header-height: 60px;
$footer-height: 160px;
$common-section-height: 600px;
$product-section-height: calc(100vh - #{$header-height});

// width
$full-percent-width: 100%;
$sidenav-width: 100%;

$responsive-width-small: 900px;   // css responsive width defined
$responsive-width-xs: 600px;
$responsive-width-xxs: 320px;
$responsive-width-middle: 1200px;
$responsive-width-large: 1440px;

$topnav-width: #{$responsive-width-small};  // nav width, set as small size

$common-content-width-xxs: calc(100vw - 30px);
$common-content-width-small: #{$responsive-width-small};

// domain
$eben-resource-domain: 'http://img1.ereneben.com';
